<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/{{style}}">
    <title>Tech Blog</title>
</head>
<body>
    <header>
    {{!-- <!-- navbar of the website -->
    <!-- navbar inludes homepage, dashboard and login option --> --}}
    {{!-- navbar will have two if, to check login and dashboard --}}
        <div class="navbar">
            <a href="/"></i> Home</a>
            <a href="/api/users/"></i> Dashboard</a>

            {{#if logged_in}}
            <a href="#" id="logout"></i> logout</a>
            {{else}}
            <a href="/login"></i> Login</a>
            {{/if}}

        </div>
        {{#if dash_board}}
        <h1 class="techTitle">Your Dashboard</h1> 
        {{else}}
        <h1 class="techTitle">The Tech Blog</h1>
        {{/if}}
    </header>

    <main>
        <div class="row">

            {{{body}}}

        </div>
    </main>

    {{#if logged_in}}
        <script src="/js/logout.js"></script>
    {{/if}}
    
</body>
</html>