 <form id="createPOST">
    <h2 class="title">Create New Post</h2>
    <div class="message">
        <div class="comentTitle">
            Title:<br>
            <input type="text" name="title">
            <br><br>
            Content:<br>
            <textarea name="content" rows="5" cols="30"></textarea>
            <br>
            <input type="submit" value="Create" class="comButton">
        </div>
    </div>
</form>