<form class="sign signUP">
    <h2 class="title">Sign Up</h2>
    <div class="message">
        <label>Username:</label>
        <input type="text" id="username-signup" name="username">
        <br><br>
        <label>Password:</label>
        <input type="password" id="password-signup" name="pass">
        <br><br>
        <button type="submit">Sign Up!</button>
        <br><br>
        <span class="switch"><a href="/login">Login Instead</a></span>
        <br><br>
    </div>
</form>
       