<form class="signIN">
    <h2 class="title">Sign Up</h2>
    <div class="message">
        <label>Username:</label>
        <input type="text" name="username">
        <br><br>
        <label>Password:</label>
        <input type="password" name="pass">
        <br><br>
        <button type="submit">Sign Up!</button>
        <br><br>
        <span class="switch"><a href="#">Login Instead</a></span>
        <br><br>
    </div>
</form>
       