{{#each userPosts.posts as |post|}}
    <h2 class="oneUser"><a href="/api/posts/{{post.id}}">{{post.title}}</a><span>{{format_date post.date}}</span></h2>
{{/each}}

    <div>
        <button class="newPOST">+ New Post</button>
    </div>