<h2 class="title">This is the title of the post
    <span>Posted by UserCreatedpost on time</span>
</h2>
<p class="message">This is the contents of the post</p>

<div>
    <button class="newPOST">+ New Post</button>
</div>

<h2 class="title">Edit Post</h2>
<div class="message">
    <div class="comentTitle">
        Title:<br>
        <input type="text" name="title">
        <br><br>
        Content:<br>
        <textarea name="content" rows="5" cols="30"></textarea>
        <br>
        <input type="submit" value="Update Post" id="comButton">
        <br>
        <input type="submit" value="Delete" id="comButton">
    </div>
</div>