<form class="sign signIN">
    <h2 class="title">Login</h2>
    <div class="message">
        <label>Username:</label>
        <input type="text" id="username" name="username">
        <br><br>
        <label>Password:</label>
        <input type="password" id="password" name="pass">
        <br><br>
        <button type="submit">Login</button>
        <br><br>
        <span class="switch"><a href="/create">Sign Up Instead</a></span>
        <br><br>
    </div>
</form>

<script src="/js/login.js"></script>