<form class="signIN">
    <h2 class="title">Login</h2>
    <div class="message">
        <label>Username:</label>
        <input type="text" name="username">
        <br><br>
        <label>Password:</label>
        <input type="password" name="pass">
        <br><br>
        <button type="submit">Login</button>
        <br><br>
        <span class="switch"><a href="#">Sign Up Instead</a></span>
        <br><br>
    </div>
</form>