<h2 class="title">{{DataPost.title}}
    <span>Posted by UserCreatedpost on time</span>
</h2>
<p class="message">This is the contents of the post</p>
<!-- user comments saved -->
<h2 class="title"></h2>
<div class="message">
    <p>This is the contents of the message left by user</p>
    <p> -userwhopostedcoment, dateposted</p>
</div>
<!-- asking user to leave a coment -->
<h2 class="title"></h2>
<div class="message">
    <div class="comentTitle">
        Comment:<br>
        <textarea name="comment" rows="5" cols="30"></textarea>
        <br>
        <input type="submit" value="Submit" id="comButton">
    </div>
</div>
            
        